body{
    font-size: 30px;
    font-family: cursive;
}
div {
    box-sizing: border-box;
    
}
h1
{
    text-align: center;
}
.weather-box {
   
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: 3%;
    
}
.weather-box div img{
    width:100%;
    
}


#box {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.colBox {
    width: 50%; 
    align-self: center;
}
